<ul>
  <li>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
  </li>
  <li>
    <a [routerLink]="['/music']" routerLinkActive="router-link-active" >Music</a>
  </li>
  <li>
    <a [routerLink]="['/swapi']" routerLinkActive="router-link-active" >Swapi</a>
  </li>
  <li>
    <a [routerLink]="['/news']" routerLinkActive="router-link-active">News</a>
  </li>
  <li>
    <a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
  </li>
  <li>
    <a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
  </li>
</ul>
